<ul class="list-group">
    {% for category in categories %}
    <li class="list-group-item" aria-labelledby="category-title-{{ category.pk }}">
        <h3 id="category-title-{{ category.pk }}">{{ category.name }}</h3>
        <a href="{% url 'category_edit' category.pk %}" class="btn btn-sm btn-warning"
           hx-get="{% url 'category_edit' category.pk %}" 
           hx-target="closest li" 
           hx-swap="outerHTML">
           Edit
        </a>
        <a href="{% url 'category_delete' category.pk %}" class="btn btn-sm btn-danger">Delete</a>
    </li>
    {% empty %}
    <li class="list-group-item">No categories available.</li>
    {% endfor %}
</ul>